<h1>Cities</h1>

<div id="city-wrapper">
  <% @cities.each do |city| %>

  <div class="city">
    <h3><a href="/cities/<%= city.id %>"><%= city.name.capitalize%></a></h3>
    <p>Country: <%= city.country.name.capitalize %></p>
    <p>Visited: <%= city.visited %></p>
    <p>Rating: <%= city.rating %></p>
  </div>

  <% end %>
</div>
<div class= "inspiration">


<p class= "inspiration">Planning your next trip?</p>
<a class= "inspiration" href="https://www.skyscanner.net/" target="_blank">Flights</a>
<a class= "inspiration" href="https://www.airbnb.co.uk/" target="_blank">Places to Stay</a>

</div>
