<h2><%= @country.name.capitalize %></h2>

<a href="/countries/<%= @country.id %>/edit ">Edit</a>
<form action="/countries/<%= @country.id %>/delete-warning" method="get"><input type="submit" value="Delete"></form>

<% @country.cities.each do |city| %>
<h3><a href="/cities/<%= city.id %>"><%= city.name.capitalize %></a></h3>
<p>Visited: <%= city.visited %></p>
<p>Rating: <%= city.rating %></p>
<% end %>
